.offers {
  min-height: 550px;
  padding-top: 70px;
  padding-bottom: 35px;

  @include tablet {
    padding-bottom: 33px;
  }
  @include mobile {
    position: relative;
    padding-top: 35px;
  }

  &__swiper {
    position: relative;
    min-height: 550px;
    overflow: hidden;

    @include mobile {
      padding-bottom: 50px;
    }
  }

  &__navigation-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include tablet {
      margin-bottom: 25px;
    }
  }

  &__navigation-buttons {
    display: flex;
    align-items: center;
    gap: 10px;

    @include mobile {
      position: absolute;
      bottom: 0px;
      left: 110px;
      z-index: 1000;
    }
  }

  &__birca {
    position: relative;
    position: absolute;
    top: 6%;
    left: 0;
  }

  &__discount {
    position: absolute;
    top: 5px;
    left: 20px;
    color: var(--white);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
  }

  &__slide {
    position: relative;
    max-width: 237px;
    height: unset;
    display: flex;
    flex-direction: column;
    padding: 6% 2.32% 2% 2.32%;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--grey-light);

    @include tablet {
      max-width: calc((100% - 32px) / 3.66);
      padding: 8% 2.32% 2.5% 3%;
    }

    @include small-tablet {
      max-width: calc((100% - 94px) / 2 );
      padding: 12% 2% 4% 4%;
    }
    @include mobile {
     max-width: calc(100% - 36px);
     //min-height: 390px;
     padding: 24% 2% 9% 10%;
    }

    &:nth-child(3),
    &:nth-child(6) {
      @include tablet {
        padding-top: 7%;
      }
      @include mobile {
        padding-top: 22%;
      }
    }

    &-big {
      min-width: 44.3%;
      height: unset;
      padding: 3% 2.2% 2% 2.1%;
      background-repeat: no-repeat;
      background-size: 230px 170px;
      background-position-x: 364px;
      background-position-y: 375px;

      @include tablet {
        min-width: 0;
      }
      @include mobile {
        padding: 24% 2% 9% 10%;
      }

      &-1 {
        background-size: 230px 107px;
        background-image: url('../img/svg/slide-offer1.svg');

        @include tablet {
          padding-top: 112px;
          background-image: none;
        }
        @include mobile {
          padding-top: 128px;
        }
      }
      &-2 {
        background-position-y: 340px;
        background-image: url('../img/svg/slide-offers2.svg');

        @include tablet {
          padding-top: 112px;
          background-image: none;
        }
        @include mobile {
          padding-top: 106px;
        }
      }
    }
  }

  &__card-image {
    &-img5 {
      margin-bottom: 38px;
    }
  }
  &__card--image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    @include tablet {
      margin-bottom: 12px;
    }
    @include mobile {
      margin-bottom: 13px;
      transform: translateX(-13px);
    }


    &-big {
      margin-bottom: 20px;

      @include small-tablet {
        margin-bottom: 41px;
      }
      @include mobile {
        width: 90%;
        transform: translateX(0px);
      }
    }
  }

  &__card-title {
    max-width: 225px;
    min-height: 60px;
    margin-bottom: 22px;
  }

  &__card-price {
    margin-bottom: 7px;

    @include tablet {
      margin-bottom: 20px;
    }
  }
}

.price__new {
  margin-right: 30px;
  color: var(--secondary);
  font-size: 18px;
  line-height: 130%;
}



