.rating {
  padding-top: 33px;
  padding-bottom: 36px;

  &__title {
    margin-bottom: 28px;
  }

  &__number {
    color: var(--secondary);
    font-size: 16px;
    line-height: 130%;

    @include mobile {
      font-size: 12px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--offset);
    margin-bottom: 34px;

    @include mobile {
      gap: 16px;
    }
  }

  &__item {
    width: calc((100% - 32px*3) / 4);
    min-height: 420px;
    display: flex;
    flex-direction: column;
    padding: 2.3% 2%;
    border-radius: 10px;
    background-color: var(--grey-light);

    @include tablet {
      width: calc((100% - 64px) / 3);
      padding: 3% 3%;
    }
    @include small-tablet {
      width: calc((100% - 32px) / 2);
      padding: 5% 5% 4% 5%;
    }
    @include mobile {
      width: calc((100% - 16px) / 2);
      min-height: 278px;
      padding: 18px 16px 16px 16px;
    }

    &--7,
    &--8 {
      @include tablet {
        display: none;
      }
    }

    &-star {
      display: flex;
      gap: 5px;
      margin-bottom: 20px;

      @include small-tablet {
        margin-bottom: 22px;
      }
      @include mobile {
        margin-bottom: 11px;
      }
    }

    &-title {
      max-width: 236px;
      margin-bottom: 18px;

      @include mobile {
        font-size: 16px;

        &:nth-child(3) {
          max-width: 91px;
        }
      }

      &--1 {
        max-width: 218px;

        @include mobile {
          max-width: 91px;
        }
      }
    }
  }

  &__item-star1 {
    margin-bottom: 32px;

    @include small-tablet {
      margin-bottom: 32px;
    }
    @include mobile {
      margin-bottom: 11px;
    }
  }

  &__price {
    margin-bottom: 25px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__pic {
    min-height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-bottom: 7px;

    @include small-tablet {
      margin-bottom: 0px;
    }
    @include mobile {
      min-height: 53px;
      margin-bottom: 8px;
    }

    &--1 {
      margin-bottom: -5px;

      @include small-tablet {
        margin-bottom: -8px;
      }
      @include mobile {
        margin-bottom: 9px;
      }
    }
  }


  &__btn {
    margin: 0 auto;
    padding: 19.55px 34px;

    &-small {
      @include mobile {
        padding: 10px 20px;
      }
    }
  }
}

