/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

.filter-price {
  margin-bottom: 35px;

  &__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }

  &__slider {
    margin-bottom: 10px;
  }

  &__text {
    margin-right: 5px;
    color: var(--grey-shade);
    font-size: 16px;
    line-height: 130%;
  }

  &__input {
    max-width: 86px;
    min-height: 30px;
    padding: 4px 10px 4px 13px;
    border-radius: 2px;
    border: 1px solid var(--grey);
    background-color: transparent;
    color: var(--grey-shade);
    font-size: 16px;
    line-height: 130%;

      @include small-tablet {
        max-width: 120px;
      }
  }
}

.noUi-target {
  height: 3px;
  border-radius: 3px;
  background-color: var(--md-grey);
  border: none;
  box-shadow: none;
}

.noUi-connect {
  background-color: var(--primary);
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
  background: transparent;
  left: 10px;
  top: 6px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 15px solid var(--primary);
}

.noUi-handle {
  box-shadow: none;
  background: 0 0;
  cursor: pointer;
  border: none;
}
//focus, hover, active
.noUi-horizontal .noUi-handle:focus-visible {
  &:after,
  &:before {
    border-bottom: 15px solid var(--primary-shade);
  }
}

.noUi-horizontal .noUi-handle:hover:not(:focus-visible) {
  &:after,
  &:before {
    border-bottom: 15px solid  var(--primary-light);
  }
}

.noUi-horizontal .noUi-handle:active:not(:focus-visible) {
  &:after,
  &:before {
    border-bottom: 15px solid  var(--primary-shade);
  }
}
